{
  "host": "SmtpMailHost",
  "port": 465,
  "user": "MailHostUser",
  "pass": "MailHostPassword",
  "receivers": [
      {
        "name": "foo",
        "email": "test@googlemail.com"
      },
      {
        "name": "bar",
        "email": "test@test.de"
      }
    ]
}
